# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

Ordered :
1. Python
2. R
3. Java

Data Science Libraries:
1. Matplotlib
2. ggplot
3. Lattice
4. Plotly
5. Leaflet

| Data Science Tools |
|-------------------|
| Jupyter Notebook |
| GitHub |
| Rstudio |
| VSCode |
| Watson Studio |
| GitLab |

Objectives:
* Python
* Java
* R
* Julia
* MySQL

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [4]:
200/60
# This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

## Author

Devata.Pujitha